{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load bootstrap_icons %}

<!-- Spinner inicio -->
<div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Cargando...</span>
    </div>
</div>
<!-- Spinner fin -->


<!-- Navbar inicio -->
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a href="{% url 'index' %}" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <h2 class="m-0 text-primary"><i class="fa fa-book me-3"></i>Master Language</h2>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a href="{% url 'index' %}" class="nav-item nav-link">Home</a>
            <a href="{% url 'about' %}" class="nav-item nav-link">About</a>
            <div class="nav-item dropdownm" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                <a href="#" class="nav-item nav-link dropdown-toggle" data-bs-toggle="dropdown">Programas</a>
                <div class="dropdown-menu fade-down shadow">
                    <a href="{% url 'courses' %}" class="dropdown-item"></a>
                    <a href="{% url 'team' %}" class="dropdown-item">Team</a>
                    <a href="{% url 'testimonial' %}" class="dropdown-item">Testimonial</a>
                </div>
            </div>        
            <a href="{% url 'contact' %}" class="nav-item nav-link">Contact</a>
            <div class="nav-item dropdownm" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                <a href="#" class="nav-item nav-link dropdown-toggle" data-bs-toggle="dropdown">{{ user.username }}<i class="fa fa-fw fa-user"></i></a>
                <div class="dropdown-menu dropdown-menu-right fade-down shadow">
                    <a href="{% url 'team' %}" class="dropdown-item">Perfil</a>
                    <a href="{% url 'testimonial' %}" class="dropdown-item">Configuración</a>
                    <a href="{% url 'logout' %}" class="dropdown-item">Sign out</a>
                </div>
            </div>
        </div>        
        
    </div>
</nav>
  
<!-- Navbar fin -->