{% load static %}
<!--begin::Sidebar-->
<aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
    <!--begin::Sidebar Brand-->
    <div class="sidebar-brand">
        <!--begin::Brand Link-->
        <a href="./index.html" class="brand-link">
            <!--begin::Brand Image-->
            <img
            src="{% static 'images/AdminLTELogo.png' %}"
            alt="AdminLTE Logo"
            class="brand-image opacity-75 shadow"
            />
            <!--end::Brand Image-->
            <!--begin::Brand Text-->
            <span class="brand-text fw-light">Master Language</span>
            <!--end::Brand Text-->
        </a>
        <!--end::Brand Link-->
    </div>
    <!--end::Sidebar Brand-->
    <!--begin::Sidebar Wrapper-->
    <div class="sidebar-wrapper">
        <nav class="mt-2">
            <!--begin::Sidebar Menu-->
            <ul
            class="nav sidebar-menu flex-column"
            data-lte-toggle="treeview"
            role="menu"
            data-accordion="false">
            <li class="nav-item menu-open">
                <a href="{% url 'cms:dashboard' %}" class="nav-link active">
                    <i class="nav-icon bi bi-speedometer"></i>
                    <p>Dashboard</p>
                </a>                
            </li>
            {% if user.is_superuser == 1 %}
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon bi bi-gear"></i>
                        <p>
                            Administracion
                            <i class="nav-arrow bi bi-chevron-right"></i>
                        </p>                    
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="#" class="nav-link ms-2">
                                <i class="nav-icon bi bi-flag-fill"></i>
                                <p>Pais
                                    <i class="nav-arrow bi bi-chevron-right"></i>
                                </p>
                            </a>
                        
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="{% url 'cms:lista_paises' %}" class="nav-link ms-4">
                                        <i class="nav-icon bi bi-list"></i>
                                        <p>Listar Paises</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'cms:crear_pais' %}" class="nav-link ms-4">
                                        <i class="nav-icon bi bi-plus-circle"></i>
                                        <p>Agregar</p>
                                    </a>
                                </li>                            
                            </ul>
                        </li>
                
                    </ul>
                
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="#" class="nav-link ms-2">
                                <i class="nav-icon bi bi-card-image"></i>
                                <p>Regiones</p>
                                <i class="nav-arrow bi bi-chevron-right"></i>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="{% url 'cms:lista_region' %}" class="nav-link ms-4">
                                        <i class="nav-icon bi bi-list"></i>
                                        <p>Listar Regiones</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'cms:crear_region' %}" class="nav-link ms-4">
                                        <i class="nav-icon bi bi-plus-circle"></i>
                                        <p>Agregar</p>
                                    </a>
                                </li>                            
                            </ul>
                        </li>  
                    </ul>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="#" class="nav-link ms-2">
                                <i class="nav-icon bi bi-r-square-fill"></i>
                                <p>Comunas</p>
                                <i class="nav-arrow bi bi-chevron-right"></i>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="{% url 'cms:lista_comuna' %}" class="nav-link ms-4">
                                        <i class="nav-icon bi bi-list"></i>
                                        <p>Listar Comunas</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'cms:crear_comuna' %}" class="nav-link ms-4">
                                        <i class="nav-icon bi bi-plus-circle"></i>
                                        <p>Agregar</p>
                                    </a>
                                </li>                            
                            </ul>
                        </li>  
                    </ul>                
                </li>
            {% endif %}            
        </nav>
    </div>
    <!--end::Sidebar Wrapper-->
</aside>