{% extends 'cms/master.html' %}
{% block title %}Listar Regiones{% endblock %}
{% block content %}

    <div class="container">
        <div class="app-content-header mt-2">
            <!--begin::Container-->
            <div class="container-fluid">
                <!--begin::Row-->
                <div class="row">
                    <div class="col-sm-6"><h3 class="mb-0">Listar comunas</h3></div>
                    <div class="col-sm-6">
                        <div class="d-flex justify-content-end">
                            <a href="{% url 'crear_comuna' %}" class="btn btn-primary">Crear Comuna</a>
                        </div>
                    </div>
                </div>
                <!--end::Row-->
            </div>
            <!--end::Container-->
        </div>

        <table class="table table-striped table-bordered table-hover mt-4 w-100 mx-auto">
            <thead class="thead-dark">
                <tr>
                    <th>Pais</th>
                    <th>Región o Provincia</th>
                    <th>Nombre</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for comuna in comunas %}
                    <tr>
                        <td>{{ comuna.region.pais.nombre }}</td>
                        <td>{{ comuna.region.nombre }}</td>
                        <td>{{ comuna.nombre }}</td>                        
                        <td>
                            {% if comuna.estado == True %} 
                                Activo 
                            {% else %} 
                                Inactivo 
                            {% endif %}
                        </td>
                        <td>
                            <a class="btn btn-warning py-0 px-2 mt-0" href="{% url 'editar_comuna' comuna.id %}"><i class="fas fa-edit"> Editar</i></a>
                            &nbsp;
                            <a class="btn btn-danger py-0 px-2 mt-0" href="{% url 'eliminar_comuna' comuna.id %}"><i class="fas fa-trash-alt"> Eliminar</i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}